<div id="awesome">
    <h1>
        {% comment %}{{ product.price | money }}{% endcomment %}
        Hello, World:D
    </h1>
</div>
{% schema %}
    {
        "name": "Awesome",
        "settings": [
        ],
        "presets": [
            {
                "name": "awesome"
            }
        ]
    }
{% endschema %}
<style>
    #awesome {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #awesome h1 {
        background: rgba(123, 29, 243, .4);
        padding: 5px 10px;
        border-radius: 5px;
        width: max-content;

    }
</style>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}